# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
*.egg-info/
dist/
build/

# Django
*.log
local_settings.py
/staticfiles/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Environment
.env
.env.*
!.env.sample
env/.env.dev
env/.env.prod

# Git
.git
.gitignore
.github/

# Docker
Dockerfile
docker-compose*.yml
.dockerignore

# Tests & docs
tests/
*.md
logs/
media/

# Terraform
terraform/

# Render
render/
docker-compose.yml
.dockerignore
