*/*.sqlite3
**/*.pyc
*/*.egg_info

**/build

# Python
__pycache__/

# Virtual Environment
venv/
**/env/.env*
!**/env/.env.sample


**.pdf

logs/
src/logs/
*.log
nohup.out
src/staticfiles/

firebase.json

terraform/*.tfvars
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform.tfstate
