Django==5.2.1
# django-crontab==0.7.1 render now not support, only run with lunix

django-ninja-extra==0.30.0
django-ninja==1.4.1

PyJWT==2.10.1
python-dotenv==1.1.0

# Database
# For Linux (e.g., Ubuntu)
psycopg2-binary>=2.9.9; sys_platform != "win32"

# For Windows
psycopg2; sys_platform == "win32"

whitenoise==6.7.0

django-cors-headers

boto3

django-allauth
# For deployment
dj-database-url==2.1.0

channels[daphne]
channels-redis
redis==5.0.1
django-sendgrid-v5
networkx
