{% extends "email/base.html" %}
{% block title %}Đổi mật khẩu thành công{% endblock %}
{% block header_text %}Đổi mật khẩu thành công{% endblock %}
{% block content %}
<p>Kính gửi {{ full_name }},</p>
<p>Chúng tôi xác nhận mật khẩu cho tài khoản của bạn trên hệ thống Quản lý Dividex đã được thay đổi thành công vào lúc {{ formatted_time }}.</p>
<p>Nếu bạn không phải là người thực hiện thay đổi này, vui lòng liên hệ ngay với chúng tôi hoặc trả lời email này.</p>
<p>Trân trọng!</p>
<p>Đội ngũ hỗ trợ hệ thống Quản lý Dividex</p>
{% endblock %}
