{% extends "email/base.html" %}
{% block title %}Đặt lại mật khẩu{% endblock %}
{% block header_text %}Đặt lại mật khẩu{% endblock %}
{% block content %}
<p>Kính gửi {{ full_name }},</p>
<p>Chúng tôi đã nhận được yêu cầu đặt lại mật khẩu cho tài khoản của bạn trên hệ thống Quản lý Dividex.</p>
<p>Để đặt lại mật khẩu của bạn, vui lòng nhập mã OTP sau:</p>
<div style="text-align: center;">
  <h2 class="button" style="color: #ffffff;">{{ otp }}</h2>
</div>
<p>Sau khi đặt lại mật khẩu, bạn sẽ có thể đăng nhập vào hệ thống Quản lý Dividex với mật khẩu mới của mình.</p>
<p>Nếu bạn không yêu cầu đặt lại mật khẩu, vui lòng bỏ qua email này.</p>
<p>Trân trọng!</p>
<p>Đội ngũ hỗ trợ hệ thống Quản lý Dividex</p>
{% endblock %}
