SECRET_KEY=your-secret-key

POSTGRES_DB=split_expense_db
POSTGRES_USER=horus_dev
POSTGRES_PASSWORD=password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# AUTHENTICATE_TOKEN_EXPIRES_IN (in minutes)
AUTHENTICATE_TOKEN_EXPIRES_IN=2880
RESET_PASSWORD_EXPIRES_IN_MINUTES=2880
OTP_LIFETIME=5
ACCESS_TOKEN_LIFETIME=2880
REFRESH_TOKEN_LIFETIME=5760
REFRESH_TOKEN_REMAIN=1
REDIS_TOKEN_TTL_ADMIN_ACTIVATE_ACCOUNT=86400

# S3 CONFIG
S3_BUCKET_NAME=your-bucket-name
S3_ACCESS_KEY_ID=your-access-key-id
S3_SECRET_ACCESS_KEY=your-secret-access-key
S3_REGION=your-region
S3_PUBLIC_URL=your-public-url
S3_EXPIRES_IN=your-expires-in

#email
EMAIL_BACKEND = Backend used to send emails
EMAIL_HOST = 'your_smtp_server'
EMAIL_PORT = 'your_smtp_port'
EMAIL_USE_TLS = 'true_or_false'
EMAIL_HOST_USER = 'your_email_address'
EMAIL_HOST_PASSWORD = 'your_email_password'
EMAIL_TIMEOUT = 'your_timeout_value'


# VNPAY CONFIG
vnp_TmnCode=your_vnpay_tmn_code
vnp_HashSecret=your_vnpay_hash_secret
vnp_Url=your_vnpay_url
vnp_ReturnUrl=your_vnpay_return_url

VNPAY_VERSION = "2.1.0"
VNPAY_COMMAND = "pay"
ORDER_TYPE = "other"

# FIREBASE CONFIG
FIREBASE_TYPE=your-type
FIREBASE_PROJECT_ID=your-project-id
FIREBASE_PRIVATE_KEY_ID=your-private-key-id
FIREBASE_PRIVATE_KEY=your-private-key
FIREBASE_CLIENT_EMAIL=your-client-email
FIREBASE_CLIENT_ID=your-client-id
FIREBASE_AUTH_URI=your-auth-uri
FIREBASE_TOKEN_URI=your-token-uri
FIREBASE_AUTH_PROVIDER_X509_CERT_URL=your-auth-provider-x509-cert-url
FIREBASE_CLIENT_CERT_URL=your-client-cert-url
UNIVERSE_DOMAIN=your-universe-domain

FRONTEND_BASE_URL=http://localhost:3000

# OpenAI
OPENAI_API_KEY=your-openai-api-key
OPENAI_MODEL=your-openai-model
OPENAI_VISION_MODEL=your-openai-vision-model
OPENAI_MAX_TOKENS= your-openai-max-tokens
# Media Type Map
MEDIA_TYPE_MAP={"jpg": "image/jpeg", "jpeg": "image/jpeg", "png": "image/png", "gif": "image/gif", "webp": "image/webp"}

# PayOS config
PAYOS_CLIENT_ID=your-payos-client-id
PAYOS_API_KEY=your-payos-api-key
PAYOS_CHECKSUM_KEY=your-payos-checksum-key
# Frontend URLs that PayOS redirects to after payment
PAYOS_RETURN_URL=http://localhost:3000/payment/success
PAYOS_CANCEL_URL=http://localhost:3000/payment/cancel


PAYOS_CLIENT_ID_OUT=your-payos-client-id-out
PAYOS_API_KEY_OUT=your-payos-api-key-out
PAYOS_CHECKSUM_KEY_OUT=your-payos-checksum-key-out

PAYOS_PAYOUT_URL = "https://api-merchant.payos.vn/v1/payouts"
